/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* GENERALI */


/* HEADER */
header {
    height: 80px;
    background-color: #ff6900;
    color: #ffff;
    font-weight: bold;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
}

nav {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gender > ul li {
    display: inline-block;
}

.gender > ul li a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}


.nav-img {
    height: 30px;
}

.icons > i:not(.fa-solid) {
    padding-right: 10px;
    
}
